# Binaries
/webcc

# Build artifacts
.ninja_log

# Build cache
.webcc_cache/

# Generated Web Artifacts (produced by the tool)
app.wasm
app.js
index.html

# OS / Editor junk
.DS_Store
.vscode/
build/
dist/

# Generated C++ Headers
src/cli/webcc_schema.h
include/webcc/*.h
!include/webcc/webcc.h
